main{
    background-color: #f8f8f8;
}
.products{
    max-width: 1500px;
    width: 95%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 20px;
    padding-top: 40px;
    margin-bottom: 0px;
}
.products .product{
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 8px;
}
.products .image{
    width: 80px;
    height: 80px;
}
.products img{
    width: 100%;
}
.products .product a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.products .product h2{
    margin-top: 85px;
    font-size: 17px;
}
.products .product p{
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
}
.products .product h3{
    color: #c31ea5;
}